.btn {
    display: flex;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    transition: background-color 0.3s;
}

.green-btn {
    color: #fff;
    background-color: #56C376;
    border-radius: 24px;
    font-weight: 700;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
}

.trans-btn {
    background: transparent;
    border: transparent;
    height: 40px;
    padding: 0 20px;
    color: #333333;
}

.trans-btn:hover {
    background: #CDCDCD;
}

.green-btn:hover {
    background-color: #56A376;
}

.rnd-btn {
    position: relative;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    background-color: #f0f0f0;
}

.van-btn {
    border-radius: 8px;
    color: #000;
    background-color: #f0f0f0;
    border: 1px solid #dddddd;
    font-weight: bold;
    padding: 0 20px;
    height: 48px;
}

.close-btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #EDEDED;
}

.close-btn:hover {
    background-color: #CDCDCD;
}

.btn-img {
    position: relative;
    height: 100%;
    width: auto;
}

.link-btn {
    display: block;
    cursor: pointer;
}
.clear-ib {
    border: none;
}