.v-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hr-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mb1 {
    margin-bottom: 10px;
}

.mr1 {
    margin-right: 10px;
}

.tr {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fdrr {
    flex-direction: row-reverse;
}