.v-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hr-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mb1 {
    margin-bottom: 10px;
}

.mr1 {
    margin-right: 10px;
}

.tr {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fdrr {
    flex-direction: row-reverse;
}

.round-panel {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 24px;
    max-width: 660px;
    position: relative;
    z-index: 1000;
    padding: 20px;
}