.participants {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.participants > * {
    margin-bottom: 10px;
}

.participant-info {
    display: flex;
    align-items: center;
}

.participant-info > * {
    margin-right: 10px;
}

.participant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}