a {
    text-decoration: none;
    color: #56C376;
}

a:hover {
    color: #56A376;
    text-decoration: underline;
}

hr {
    border: 0;
    color: #e1e1e1;
    background-color: #e1e1e1;
    height: 1px;
    margin: 20px 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.app {
    height: 100%;
    background-color: #282c34;
    z-index: -2;
}

.auth-toolbar {
    position: relative;
    order: -1;
    display: flex;
    z-index: 300;
    margin: 12px 12px 0 12px;
}

.toolbar-tl {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 100;
    margin: 12px 12px 0 12px;
}

.toolbar-bl {
    position: absolute;
    display: flex;
    z-index: 100;
    bottom: 12px;
    left: 12px;
}

.chat-box {
    position: absolute;
    display: flex;
    z-index: 100;
    bottom: 12px;
    right: 12px;
}

.top-toolbars {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1000;
}

button, input[type="submit"], input[type="reset"] {
    border: none;
    cursor: pointer;
    font: inherit;
}