a {
    text-decoration: none;
    color: #56C376;
}

a:hover {
    color: #56A376;
    text-decoration: underline;
}

hr {
    border: 0;
    color: #e1e1e1;
    background-color: #e1e1e1;
    height: 1px;
    margin: 20px 0;
}

p {
    margin: 0;
}

.app {
    height: 100%;
    background-color: red;
    z-index: -2;
}

.auth-toolbar {
    position: absolute;
    z-index: 100;
    top: 12px;
    right: 12px;
}